# Beth Harvey Project 4 Bonus Task, February 4, 2023

### Cleaning Data with Regex

In [1]:
# Contact list from pg. 310 "Reformatting Your Data"
contacts = [['Mike Green', 'demo1@deitel.com', '5555555555'],
           ['Sue Brown', 'demo2@deitel.com', '5555551234']]

In [2]:
# Convert list to DataFrame
import pandas as pd

contactsdf = pd.DataFrame(contacts, columns=['Name', 'Email', 'Phone'])
contactsdf

         Name             Email       Phone
0  Mike Green  demo1@deitel.com  5555555555
1   Sue Brown  demo2@deitel.com  5555551234

In [3]:
# Create function to format phone numbers
import re

def get_formatted_phone(value):
    result = re.fullmatch(r'(\d{3})(\d{3})(\d{4})', value)
    return '-'.join(result.groups()) if result else value

In [4]:
# Format phone numbers
formatted_phone = contactsdf.Phone.map(get_formatted_phone)
formatted_phone

0    555-555-5555
1    555-555-1234
Name: Phone, dtype: object

In [5]:
# Update phone numbers in contactsdf and display updated df
contactsdf.Phone = formatted_phone
contactsdf

         Name             Email         Phone
0  Mike Green  demo1@deitel.com  555-555-5555
1   Sue Brown  demo2@deitel.com  555-555-1234